{% include top.inc %}
<p>If you would like to book Chalet Bossetan please ensure that you have read the booking <a href="terms.html">terms & conditions</a>, then contact us by email, phone or fax, specifying the dates you are interested in, at:</p>
<p>Email:<br />
<a href="mailto:enquiry-at-chaletbossetan.co.uk"><img class="ie6_fix" src="images/email.png" alt="enquiry-at-chaletbossetan.co.uk" /></a></p>
<p>Post:<br />Mr. & Mrs. L Woodford<br />113 Church Road<br />Combe Down<br />Bath BA2 5JJ<br />United Kingdom</p>
<p>Tel: +44 (0)1225 833954<br />Mobile: +44 (0)7910 314262</p>
{% include bottom.inc %}
