{% include top.inc %}
<p><b>Chalet Bossetan, Morzine, France</b> - Ski from the door of this spacious, stylish chalet with stunning views. Sleeps 10 in 5 en suite bedrooms.</p>
<table cellspacing="0" cellpadding="0"><tr>
<td><img src="images/f13.jpg" alt="Exterior"/><br />
    <img src="images/f10.jpg" alt="Living room"/></td>
<td><img src="images/f11.jpg" alt="Skier"/></td>
<td><img src="images/f12.jpg" alt="Master bedroom"/></td>
</tr></table>
<p>Available to rent self-catered. Take a <a class="subtle" href="chalet.html">look round</a>...</p>
{% include bottom.inc %}
