{% include top.inc %}
<p>Below are the prices to rent Chalet Bossetan self-catered for a week, starting on the dates shown, for the 2018/19 winter season, and also the availability of the chalet for each week.</p>
<center><table cellpadding="2px" cellspacing="1px" border="1px" width="470px">
   <tr><th width="120px">Start date</th><th width="210px">Chalet price (per week)</th><th width="140px">Availability</th></tr>
   <tr><td>Dec 22</td><td>&pound;7500</td><td class="avail">Available</td></tr>
   <tr><td>Dec 29</td><td>&pound;7500</td><td class="avail">Available</td></tr>
   <tr><td>Jan 5</td><td>&pound;6400</td><td>Booked</td></tr>
   <tr><td>Jan 12</td><td>&pound;6400</td><td>Booked</td></tr>
   <tr><td>Jan 19</td><td>&pound;6400</td><td>Booked</td></tr>
   <tr><td>Jan 26</td><td>&pound;6400</td><td class="avail">Available</td></tr>
   <tr><td>Feb 2</td><td>&pound;6800</td><td class="avail">Available</td></tr>
   <tr><td>Feb 9</td><td>&pound;7700</td><td class="avail">Available</td></tr>
   <tr><td>Feb 16</td><td>&pound;7700</td><td>Booked</td></tr>
   <tr><td>Feb 23</td><td>&pound;7000</td><td>Booked</td></tr>
   <tr><td>Mar 2</td><td>&pound;6800</td><td>Booked</td></tr>
   <tr><td>Mar 9</td><td>&pound;6800</td><td>Booked</td></tr>
   <tr><td>Mar 16</td><td>&pound;6800</td><td>Booked</td></tr>
   <tr><td>Mar 23</td><td>&pound;6800</td><td class="avail">Available</td></tr>
   <tr><td>Mar 30</td><td>&pound;6400</td><td class="avail">Available</td></tr>
   <tr><td>Apr 6</td><td>&pound;6400</td><td class="avail">Available</td></tr>
   <tr><td>Apr 13</td><td>&pound;6400</td><td class="avail">Available</td></tr>
</table></center>
<p>We can be flexible on start days and also number of days (minimum stay: 7 days; each extra day: &pound;1000).</p>
<p>We also accept payment in euros - the total price in euros is determined at the time of booking (conversion will be at the market rate).</p>
{% include bottom.inc %}
