{% include top.inc %}
<p>If you think you'd like to book Chalet Bossetan it's worth considering these points before proceeding:</p>
<ul>
   <li />Neither pets nor smoking are permitted in the property.
   <li />Guests are required to leave the property as found, in a clean and tidy state.
   <li />The rental period shall commence at 16:00 on the first day and finish at 10:00 on the last day.
   <li />Snow levels such that you can ski to and from the chalet are not guaranteed.
   <li />All bed linen and towels are provided.
</ul>
<p>The full terms and conditions of a booking are as follows:</p>
<p><font size="+1"><b>Terms</b></font></p>
<p><b>The property</b> refers to Chalet Bossetan, Les Nants, Morzine 74110, France.<br />
<b>We</b> refers to Mr & Mrs L Woodford, the proprietors of the property.<br />
<b>You</b> refers to the first named guest on the booking form, who must be at least 18.</p>
<p><font size="+1"><b>Conditions</b></font></p>
<p><b>Making a booking and payment</b><br />
To make a booking you should complete and return a booking form to us, together with a deposit of &pound;500 or the full cost of rental if booking less than 8 weeks prior to the rental start date.
The balance of the rental cost, along with the security deposit (see 'Breakages and Damages' below), should be received by us no later than 8 weeks prior to the rental start date. If payment is not received in full and on time we reserve the right
to treat the booking as cancelled by you and to apply the cancellation charges set out under 'Cancellations' below.</font></p>
<p><b>Cancellations</b><br />
Should you or any member(s) of the party wish to cancel your booking you must inform us in writing immediately. Cancellation charges to compensate us for the costs of making your booking and the risk
we may be unable to sell your rental week will be payable as follows:</p>
<center><table width="700px" cellpadding="2px" cellspacing="0" border="1px" class="prices">
   <tr><th width="400px">Days written notification of cancellation is received prior to start date</th><th>Cancellation charge</th></tr>
   <tr><td>More than 56 days</td><td>Deposit only</td></tr>
   <tr><td>28 to 56 days</td><td>50% of rental cost</td></tr>
   <tr><td>Less than 28 days</td><td>100% of rental cost</td></tr>
</table></center>
<p>We reserve the right to cancel confirmed bookings, but in the unlikely event of this happening you will be refunded the full amount paid; you will not receive any further compensation.</p>
<p><b>Force Majeure</b><br />
We regret we cannot accept liability or pay any compensation where your stay in the property is prevented or affected by reason of circumstances amounting to 'Force Majeure'. In these booking conditions 'Force Majeure'
means any event that we could not, even with all due care, foresee or forestall. Such events may include (by way of example and not by way of limitation) war or threat of war, riots, civil strife, terrorist activity, industrial disputes, natural or nuclear disaster,
fire, adverse weather conditions, and all similar events.</p>
<p><b>Breakages and Damages</b><br />
You are responsible for any breakages, losses or damage caused during your stay in the property and it is your responsibility either to put right the damage or to make full compensatory payment to us before departure
from the property. We reserve the right to terminate the rental arrangements of any client who, in our opinion, is causing or is likely to cause damage to the property. In this situation we will not be liable to pay any compensation, make any refund or meet any
expenses that they may incur as a result. A security deposit of &pound;400 is required, which will be refunded two weeks after the end of the rental period, subject to deductions resulting from costs incurred due to breakages, losses, damages or the property
not being left in a clean and tidy state. Neither pets nor smoking are permitted in the property.</p>
<p><b>Insurance</b><br />
It is a condition of our accepting your booking that you take out a travel insurance policy which provides cover for any costs, medical or other, which you might incur during your stay at the property. We will not
accept liability for any death, injury, illness or damage to or loss of belongings suffered by you or any other guests as a result of careless, incorrect or improper use of facilities on the property. Under no circumstances shall our liability to you exceed the
amount paid by you in respect of the rental.</p>
{% include bottom.inc %}
